.avatar {
  text-decoration: none;

  &--type-image {
    display: flex;
  }

  &--type-text {
    font-size: 4vw;
  }

  @include media(">desktop") {
    &--type-text {
      font-size: 3rem;
    }
  }

  &--image,
  &--text {
    border-radius: 5px; // 100%;
    box-shadow: 1px 1px #424242, 2px 2px #424242;
  }

  &--image {
    width: 100%;
  }

  &--text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #424242;
  }

  &--text:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
