.list_view {
  display: flex;

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
  }

  &__left {
    display: flex;
    margin-right: 15px;
  }

  &__right {
    flex: 0 1 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(&--editable) {
      margin: 6px;
    }
  }

  &__header > *:not(:last-child) {
    margin-right: 15px;
  }

  &__no_recipes {
    margin: 6px;
  }
}
