.list_view {
  display: flex;

  &--left,
  &--right {
    display: flex;
    flex-direction: column;
  }

  &--left {
    margin-right: 15px;
  }

  &--right {
    flex: 0 1 100%;
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px;
  }

  &--header > *:not(:last-child) {
    margin-right: 15px;
  }

  &--no_recipes {
    margin: 6px;
  }
}
