.page_profile {
  &--body {
    display: flex !important;
    flex-direction: row;
  }

  &--left {
    flex: 30% 0 1;
    display: flex;
    flex-direction: column;
  }

  &--username {
    margin-top: 10px;
  }

  &--right {
    flex: 100%;
    padding: 0px 20px;
  }

  &--right > * {
    margin-bottom: 15px;
  }
  &--subpages {
    display: flex;
  }
  &--subpages > * {
    margin-right: 15px;
  }
  &--lists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &--lists > *:not(:last-child) {
    margin-bottom: 15px;
  }
}
