.recipe_editor {
  .DraftEditor-root {
    font-size: $font-size-p;
    background: #eeeeee;
    border: 1px solid transparent;
    box-shadow: 0px 0px 3px 0px transparent;
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;

    transition: all ease-in-out 0.2s;
  }

  & .DraftEditor-root:hover,
  &--focused .DraftEditor-root {
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 3px 0px #bdbdbd;
  }

  &--save {
    margin-top: 15px;
  }
}
