.page_recipe_view {
  &--body > * {
    margin-bottom: 15px;
  }

  &--path {
    display: flex;
    flex-direction: column;
  }

  &--row {
    display: flex;
    align-items: center;
  }

  &--row > * {
    margin-right: 5px;
  }

  &--fork {
    margin-top: 10px;
  }

  &--recipe_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--recipe_header_right {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &--change {
    padding: 20px 0px;
    margin: 0px;
  }

  &--change:first-child {
    padding-top: 0px;
  }

  &--diff_hunk {
    background-color: #eee;
    border-radius: 2px;
    padding: 2px 0px;
  }

  &--diff_line {
    padding: 0px 5px;
  }

  &--type-remove {
    background-color: #ffcdd2;
    color: #b71c1c;
  }

  &--type-add {
    background-color: #c8e6c9;
    color: #1b5e20;
  }
}
