$path: "./proggy/ProggyVector/ProggyVector Regular";
@font-face {
  font-family: "Proggy";
  src: url("#{$path}.svg") format("svg"),
    url("#{$path}.eot") format("embedded-opentype"),
    url("#{$path}.otf") format("opentype"),
    url("#{$path}.ttf") format("truetype");
}

@import "variables.scss";

@import "app.scss";
@import "cardview.scss";
@import "card.scss";
@import "tags.scss";
@import "button.scss";
@import "colorpicker.scss";
@import "editable.scss";
@import "form.scss";
@import "dragdrop.scss";
@import "expandable.scss";
@import "menubutton.scss";
@import "border.scss";
@import "input.scss";
@import "textarea.scss";
@import "overflowdialog.scss";
@import "markdown.scss";
// @import "video.scss";
@import "icon.scss";
@import "search.scss";
@import "separator.scss";
@import "box.scss";
@import "link.scss";
@import "tabview.scss";
@import "text.scss";

@import "modal/index.scss";
@import "modal/confirm.scss";
@import "modal/addcontent.scss";

@import "feature/body.scss";
@import "feature/avatar.scss";
@import "feature/header.scss";
@import "feature/page.scss";
@import "feature/game.scss";
@import "feature/home.scss";
@import "feature/profile.scss";
@import "feature/recipe_view.scss";
@import "feature/recipe_list.scss";
@import "feature/recipe_editor.scss";
