.menubutton {
  display: flex;
  align-items: stretch;

  > div {
    z-index: 100;
  }
  &--link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
  &--icon {
    font-size: 1.5rem;
  }
}
