.search {
  display: flex;
  flex-direction: column;

  &__input {}

  &__helper {
    margin: 5px;
    margin-left: 0px;
    font-size: 0.75rem;
  }

  &__suggestions {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
  }

  &__block {
    margin-right: 5px !important;
  }
}